#general setting
[setting]

# specify the secure images revision
serev = 1

# specify the non-secure images revision
nsrev = 1

# specify the default keyid not in the table
keydft = 0

[keytable]
# name		keyid	secure load_address
#sdl		1	1 0xc0701000
#spl		2	1 0xc0701000
sloader		3	1 0x00000000
#secureos	3	1 0x100020000
#uboot		4	0 0x109000000
#boot		5	0 0x10107f7e0
#recovery	6	0 0x10107f7e0
